[core] 
  pager = delta

[user]
  email = tuomo.syvanpera@gmail.com
  name = Tuomo Syvänperä

[alias]
  co = checkout
  st = status

[pull]
  rebase = true

[delta]
  navigate = true
  light = false

[includeIf "gitdir:/home/tuomo/project"]
  path = /home/tuomo/project/.gitconfig

[init]
	defaultBranch = main
