[core]
  pager = delta
[user]
  name = Tuomo Syvänperä
  email = tuomo.syvanpera@asteroid.fi
[alias]
  co = checkout
  st = status
  wa = worktree add
  wl = worktree list
  wr = worktree remove
[init]
  defaultBranch = main
[pull]
	rebase = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[includeIf "gitdir:~/.dotfiles/"]
  path = .gitconfig-personal
