DISPLAYS=$(xrandr --listactivemonitors| grep 'Monitors:'| awk '{print $2}')

if [ $DISPLAYS -eq 1 ]; then
  export GDK_SCALE=2
  export QT_SCALE_FACTOR=2

  # xfconf-query -c xsettings -p /Gdk/WindowScalingFactor -t int -s 2

  sed -i 's/^\(.*doom-font.*\)size [0-9]*\(.*\)$/\1size 26\2/g' ~/.doom.d/config.el
  sed -i 's/\(  size:\).*$/\1 6.5/g' /home/tuomo/.config/alacritty/alacritty.yml
  sed -i 's/\(font = \).*$/\1 Noto Sans Regular 18/g' /home/tuomo/.config/dunst/dunstrc
  sed -i 's/\( *font: *\).*$/\1 "JetBrainsMono Nerd Font 16";/g' /home/tuomo/.config/rofi/themes/fonts.rasi
else
  # xfconf-query -c xsettings -p /Gdk/WindowScalingFactor -t int -s 1

  sed -i 's/^\(.*doom-font.*\)size [0-9]*\(.*\)$/\1size 14\2/g' ~/.doom.d/config.el
  sed -i 's/\(  size:\).*$/\1 9/g' /home/tuomo/.config/alacritty/alacritty.yml
  sed -i 's/\(font = \).*$/\1 Noto Sans Regular 9/g' /home/tuomo/.config/dunst/dunstrc
  sed -i 's/\( *font: *\).*$/\1 "JetBrainsMono Nerd Font 10";/g' /home/tuomo/.config/rofi/themes/fonts.rasi
fi

export _JAVA_AWT_WM_NONREPARENTING=1

$HOME/scripts/setup-keyboard.sh
$HOME/scripts/setup-touchpad.sh
