/* Color-Scheme Gruvbox */

* {
    background:     #16161eff;
    background-alt: #282828ff;
    foreground:     #fbf1c7ff;
    border:         #458588ff;
    selected:       #458588ff;
    urgent:         #ec5f67ff;
    logo:           #fabd2fff;
    on:             #61C766ff;
    off:            #EC7875ff;
}
