window {
    background-color: @background;
    transparency:     "real";
    text-color:       @foreground;
    border:           2px 2px 2px 2px;
    /* border:           1px 1px; */
    border-color:     @selected;
    border-radius:    0 0 10px 10px;
    /* height:           33%; */
    width:            100%;
    location:         north;
    anchor:           north west;
    x-offset:         0;
    y-offset:         0;
    padding:          0ch;
    margin:           0px 8px 0 8px;
}

