@import "colors.css";

* {
  border: none;
  font-size: 16px;
  margin: 0px;
  /* font-family: Product Sans, Material Icons, Arial, Helvetica, sans-serif; */
  /* font-family: Terminus, FontAwesome, "Material Icons"; */
  /* font-family: Terminus, "UbuntuMono Nerd Font"; */
  font-family: "UbuntuMono Nerd Font";
  min-height: 0;
}
window#waybar {
  opacity: 1;
  background-color: @background;
  font-size: 20px;
  color: @foreground;
}
#workspaces, #tags {
  background-color: @main;
  padding: 1px 10px 1px 10px;
  margin-right: 10px;
  border-radius: 0 10px 10px 0;
}
#workspaces button, #tags button {
  padding: 2px 8px 2px 8px;
  background-color: transparent;
  margin: 0;
  color: #000000;
}
#window {
  color: #d8dee9;
  margin: 0px;
  font-size: 14px;
  border-radius: 10px;
  padding: 0px 6px 0px 6px;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
window#waybar.empty {
  /* background-color: #353b49; */
}
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover, #tags button:hover {
  box-shadow: inherit;
  color: #5e81ac;
}
#workspaces button.focused, #tags button.focused {
  /* background-color:  #b8ba25; */
  /* padding: 0px 6px 0px 6px; */
  /* margin: 2px 2px; */
  color: #ffffff;
}
#tags button.focused {
  font-weight: 600;
}
#workspaces button.urgent {
  background-color:  #ec5f67;
  padding: 0px 5px 0px 5px;
  margin: 2px 2px;
  color: #ffffff;
}
#tags button {
  color: #4c566a;
  font-weight: 600;
}
#mpd {
  padding: 0px 10px;
  color: #ffffff;
}
/* TASKBAR */
#taskbar {
  margin: 2px 0px 2px 0px;
}
#taskbar button {
  border-radius: 10px;
  font-size: 14px;
  margin: 0px 5px 0px 5px;
  padding: 0px 6px 0px 6px;
}
#taskbar button.active {
  /* background-color: #434c5e; */
  background-color: #1c232f;
}
#taskbar button.minimized {
  /* color: #ebcb8b; */
}
#taskbar button:hover {
  box-shadow: inherit;
  background-color: rgba(35,39,49,0.4);
}
/* BROWSER BOOKMARKS */
#custom-name, #custom-github,#custom-reddit,#custom-crunchyroll,#custom-youtube,#custom-mail, #custom-library {
  background-color: #3B4252;
  font-size: 18px;
  margin-left: 0;
  margin-right: 0;
  padding: 0px 15px 0px 15px ;
}
#custom-reddit {
  color: #ebcb8b;
}
#custom-library {
  color: #c57078;
}
#custom-crunchyroll {
  color: #a3be8c;
  border-radius: 0px 10px 10px 0px;
}
#custom-youtube {
  color: #b48ead;
}
#custom-mail {
  color: #88c0d0;
  font-size: 15px;
}
/* WIDGETS */
#cpu, #idle_inhibitor, #custom-pacman, #memory, #backlight, #disk, #network, #pulseaudio, #custom-weather, #temperature, #mpd {
  font-size: 16px;
  background-color: #343d46;
  padding: 2px 10px 2px 10px;
  margin: 0;
}
#backlight {
  padding-right: 15px;
  border-radius: 0px 10px 10px 0px;
  color: @base04;
}
#disk {
  color:@base02;
}
#memory {
  color:@base01;
}
#cpu {
  padding-left: 15px;
  border-radius: 10px 0px 0px 10px;
  color:@base01;
}
#network {
  color: #9da98d;
  border-radius: 0px 10px 10px 0px;
}
#custom-weather {
  color:#81a1c1;
}
#custom-weather {
  padding: 0px 8px 0px 8px;
}
#custom-media {
  color: #818896;
  border-radius: 10px;
  margin-left: 10px;
  padding: 0px 14px 0px 14px;
}
#custom-media.Playing {
  color: #81a1c1;
  border-radius: 0px;
  font-weight: 500;
}
#custom-media.Music {
  color: #b48ead;
  border-radius: 0px;
  font-weight: 500;
}
#custom-pacman {
  color: #ebcb8b;
  border-radius: 0px 10px 10px 0px;
  font-weight: 600;
}
#pulseaudio {
  color: @base03;
}
#pulseaudio.muted {
  color: #cb7073;
}
#temperature{
  color: #88c0d0;
}
#temperature.critical {
  color: #eb4d4b;
}
#battery {
  font-size: 16px;
  color: @base05;
  padding: 0px 10px 0px 20px;
}
#battery.charging {
  color: #b8ba25;
}
@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
#battery.critical:not(.charging) {
  background-color: @warn;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
label:focus {
  background-color: #000000;
}
#idle_inhibitor {
  font-size: 20px;
  color: #6f7787;
}
#idle_inhibitor.activated {
  color: #ffffff;
}
#clock, #custom-power, #custom-ha, #custom-recorder, #tray, #custom-ha {
  /* background-color: #3b4252; */
  /* background-color: #2c333f; */
  background-color: #343d46;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 0px;
}
#tray {
  padding-left: 15px;
}
#clock {
  font-size: 16px;
}
#custom-recorder {
  padding: 2px 5px 2px 5px;
  font-size: 18px;
}
#custom-recorder.recording {
  color:#c57078;
}
#tray {
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
  color: #8fbcbb;
}
#custom-power, #custom-ha {
  color: #d08770;
  font-size: 17px;
  margin-right: 2px;
  padding-right: 20px;
}
#mpd.disconnected {
  background-color: #f53c3c;
}
#mpd.stopped {
  background-color: #90b1b1;
}
#mpd.paused {
  background-color: #51a37a;
}

