window {
  margin: 0px;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  /* background-color: #44475a; */
}

#inner-box {
  margin: 0px;
  padding: 5px;
  border: none;
  border-top: 1px solid #fabd2f;
}

#outer-box {
  margin: 0px;
  border: none;
  border-bottom: 1px solid #fabd2f;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
} 

#entry:selected {
  background-color: #fabd2f;
}

#entry:selected #text {
  color: #000000;
}
