window {
  margin: 0px;
  background-color: #282828;
  border-bottom: 1px solid #448488;
}

#input {
  margin: 5px;
  border: none;
  color: #f8f8f2;
  background-color: #202020;
  border: 1px solid #448488;
}

#inner-box {
  margin: 0px;
  padding: 5px;
  border: none;
  border-top: 1px solid #448488;
}

#outer-box {
  margin: 0px;
  border: none;
  /* border-bottom: 1px solid #448488; */
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
}

#entry:selected {
  background-color: #448488;
}

#entry:selected #text {
  color: #000000;
}
