/* Fonts For All Themes*/

* {
    font:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      "JetBrainsMono Nerd Font 18";
}

textbox {
    font:                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      "JetBrainsMono Nerd Font 18";
}
