/* Fonts For All Themes*/

* {
    font:                                          "JetBrainsMono Nerd Font 16";
}

textbox {
    font:                                          "JetBrainsMono Nerd Font 16";
}
